$color-while: #ffffff;
$color-neutral-1: #F2F2F2;
$color-neutral-2: #929292;
$color-neutral-3: #2D2F33;
$color-orange-1: #FFCC4A;
$color-orange-2: #FFA14A;
$color-orange-3: #FF823C;
$color-green-1: #A1FD44;
$color-green-2: #42F373;
$color-green-3: #52C873;
$color-blue-1: #52E0FF;
$color-blue-2: #5CC4FF;
$color-blue-3: #299BE1;
$color-gray-1: #CFCFCF;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "PingFang HK", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-style: normal;
  color: $color-neutral-3;
}

@font-face {
  font-family: "Nunito";
  src: url(./assets/font/Nunito-Regular.ttf);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow-up {
  0% {
    max-height: 4.4rem;
  }

  100% {
    max-height: 100rem;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

:export {
  ColorWhite: $color-while;
  ColorNeutral1: $color-neutral-1;
  ColorNeutral2: $color-neutral-2;
  ColorNeutral3: $color-neutral-3;
  ColorOrange1: $color-orange-1;
  ColorOrange2: $color-orange-2;
  ColorOrange3: $color-orange-3;
  ColorGreen1: $color-green-1;
  ColorGreen2: $color-green-2;
  ColorGreen3: $color-green-3;
  ColorBlue1: $color-blue-1;
  ColorBlue2: $color-blue-2;
  ColorBlue3: $color-blue-3;
  ColorGray1: $color-gray-1;
}